<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Svlet</display-name>
    <servlet-name>Svlet</servlet-name>
    <servlet-class>svlet.Svlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Svlet</servlet-name>
    <url-pattern>/Svlet</url-pattern>
  </servlet-mapping>
  <display-name>Test1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Svletrd</display-name>
    <servlet-name>Svletrd</servlet-name>
    <servlet-class>svlet.Svletrd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Svletrd</servlet-name>
    <url-pattern>/Svletrd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage</display-name>
    <servlet-name>Manage</servlet-name>
    <servlet-class>svlet.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/Manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Macaron</display-name>
    <servlet-name>Macaron</servlet-name>
    <servlet-class>svlet.Macaron</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Macaron</servlet-name>
    <url-pattern>/Macaron</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cupcake</display-name>
    <servlet-name>Cupcake</servlet-name>
    <servlet-class>svlet.Cupcake</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cupcake</servlet-name>
    <url-pattern>/Cupcake</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Donut</display-name>
    <servlet-name>Donut</servlet-name>
    <servlet-class>svlet.Donut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Donut</servlet-name>
    <url-pattern>/Donut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tiramisu</display-name>
    <servlet-name>Tiramisu</servlet-name>
    <servlet-class>svlet.Tiramisu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tiramisu</servlet-name>
    <url-pattern>/Tiramisu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mochi</display-name>
    <servlet-name>Mochi</servlet-name>
    <servlet-class>svlet.Mochi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mochi</servlet-name>
    <url-pattern>/Mochi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OderManage</display-name>
    <servlet-name>OderManage</servlet-name>
    <servlet-class>svlet.OderManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OderManage</servlet-name>
    <url-pattern>/OderManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExistOder</display-name>
    <servlet-name>ExistOder</servlet-name>
    <servlet-class>svlet.ExistOder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExistOder</servlet-name>
    <url-pattern>/ExistOder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>svlet.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>svlet.add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadProduct</display-name>
    <servlet-name>LoadProduct</servlet-name>
    <servlet-class>svlet.LoadProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProduct</servlet-name>
    <url-pattern>/LoadProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loadp</display-name>
    <servlet-name>Loadp</servlet-name>
    <servlet-class>svlet.Loadp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loadp</servlet-name>
    <url-pattern>/Loadp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadP</display-name>
    <servlet-name>LoadP</servlet-name>
    <servlet-class>svlet.LoadP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadP</servlet-name>
    <url-pattern>/LoadP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>svlet.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadbyca</display-name>
    <servlet-name>loadbyca</servlet-name>
    <servlet-class>svlet.loadbyca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadbyca</servlet-name>
    <url-pattern>/loadbyca</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadO</display-name>
    <servlet-name>LoadO</servlet-name>
    <servlet-class>svlet.LoadO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadO</servlet-name>
    <url-pattern>/LoadO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>svlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Macaron_cart</display-name>
    <servlet-name>Macaron_cart</servlet-name>
    <servlet-class>svlet.Macaron_cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Macaron_cart</servlet-name>
    <url-pattern>/Macaron_cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProductO</display-name>
    <servlet-name>AllProductO</servlet-name>
    <servlet-class>svlet.AllProductO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProductO</servlet-name>
    <url-pattern>/AllProductO</url-pattern>
  </servlet-mapping>
</web-app>